@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
--fontfamily: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fontfamily);
}

main {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--White);
    border-radius: 10px;
    margin: 2rem;
    max-width: 320px;
    box-shadow: 0 0.1 0.8 black;
}

img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    width: 100%;
}

picture {
    max-width: 100%;
    padding: 1rem 1rem 0 1rem;
}

article {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--Dark-blue);
    text-align: center;
}

p {
    color: var(--Grayish-blue);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}